@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Bertoni Recruiter</h1>
    <p>This is my solution to the miniproject</a>. Please <a class="nav-link" asp-controller="Solution" asp-action="Index">click here</a> or select menu option "Solution"</p>
</div>

